<div class="create-link">
		<%= link_to "Create Class", new_ca_class_path %>
</div>

<% if !@ca_classes.blank? %>
		<div class="main-container widget-box">
				<div class="widget-title">
						<h5>Classes List</h5>
				</div>
				<div class="widget-content nopadding">
						<table class="table table-bordered table-striped">
								<thead>
										<tr>
												<th>Name</th><th>Actions</th>
										</tr>
								</thead>
								<tbody>
										<% @ca_classes.each do |ca_class| %>
												<tr>
														<td><%= ca_class.name %></td>
														<td><%= link_to "Edit", edit_ca_class_path(ca_class) %> | <%= link_to "Delete", ca_class_path(ca_class), :method => :delete, :confirm => "Are you sure want to delete class?" %></td>	
												</tr>
										<% end %>
								</tbody>
						</table>
				</div>
		</div>
<% end %>