<div>
		<div class="left_header">
				<%= link_to "Module 7D Corrective Actions", root_path %>
		</div>
		<div class="links_header">
				<%= link_to "Users List", users_path %> | 
				<%= link_to "Corrective Action List", corrective_actions_path %>
		</div>
</div>

<%= render :partial => "layouts/flash_messages" %>