<div id="sidebar">
		<ul>
				<li class="<%= "active" if params[:controller] == "users" %>"><%= link_to "Users", users_path %></li>
				<li class="<%= "active" if params[:controller] == "corrective_actions" %>"><%= link_to "Corrective Actions", corrective_actions_path %></li>
		</ul>
</div>